@media only screen and (min-device-width: 768px) {
  .App {
    width: 40%;
    margin: 0 auto;
  }
}
h3,
h4 {
  color: #011c44ad;
}
.todo {
  margin-top: 10px;
  padding: 10px;
  border: 5px solid #d5b98411;
  color: rgba(0, 0, 0, 0.801);
}

.todo-input {
  width: 85%;
  border: 3px solid #0000005d;
  border-radius: 10px 10px;
  padding: 10px;
}

.todo-input:hover {
  border: 3px solid #0000007e;
}
.todo-input:focus {
  outline: none;
}

.header {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
}

.task-list {
  display: block;
}

ul {
  border-top: 3px solid #d5b9848e;
  padding-top: 10px;
  list-style: none;
}

ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #d5b98448;
  padding: 10px;
  margin-left: -40px;
}

.add-button {
  margin-left: 10px;
  background: transparent;
  border: 3px solid #0000005d;
  border-radius: 10px;
  cursor: pointer;
  width: 15%;
}

.add-button:active {
  transform: scale(0.97);
}

.add-button:hover {
  border: 3px solid #0000007e;
}

.completed-task-icons {
  background: none;
  border: none;
  cursor: pointer;
  color: green;
}

.done-checkbox {
  background: none;
  border: none;
  cursor: pointer;
}
.done-checkbox:hover {
  outline: auto;
}
.done-checkbox:active {
  transform: scale(0.9);
}
.done-checkbox:active:after {
  content: "✔";
  color: green;
}

.completed-tasks ul li {
  text-decoration: line-through;
  color: #808080b8;
}

.show-hide {
  background: transparent;
  border: 1px dashed grey;
  color: #7a6a2e;
  cursor: pointer;
}

.validate {
  color: coral;
  font-size: 12px;
  margin-left: 5px;
}
