/* @media only screen and (min-device-width: 768px) {
  .App {
    max-width: 768px;
    margin: 0 auto;
  }
} */
.App {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
}
h3,
h4 {
  color: #011c44ad;
}
.todo {
  margin-top: 10px;
  padding: 10px;
  border: 5px solid #d5b98411;
  color: rgba(0, 0, 0, 0.801);
}

.todo-input {
  width: 80%;
  border: 3px solid #0000005d;
  border-radius: 10px 10px;
  padding: 10px;
  height: 30px;
}

.todo-input:hover {
  border: 3px solid #0000007e;
}
.todo-input:focus {
  outline: none;
}

.header {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  margin-bottom: 15px;
}

.task-list {
  display: block;
  margin-top: 35px;
  color: #011c44ad;
  font-weight: 500;
}

ul {
  border-top: 3px solid #d5b9848e;
  list-style: none;
  padding-left: 0;
}

ul li {
  border-bottom: 2px solid #d5b98448;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-button {
  color: #011c44ad;
  margin-left: 5px;
  background: transparent;
  border: 3px solid #0000005d;
  border-radius: 10px;
  cursor: pointer;
  width: 15%;
  height: 56px;
}

.add-button:active {
  transform: scale(0.97);
}

.add-button:hover {
  border: 3px solid #0000007e;
}

.completed-task-icons {
  background: none;
  border: none;
  cursor: pointer;
  color: #011c44ad;
  padding: 0;
}

.done-checkbox {
  background: none;
  border: none;
  cursor: pointer;
  transform: scale(1.5);
}
.done-checkbox:active:after {
  content: "✔";
  padding-left: 1px;
  color: #011c44ad;
}

.completed-tasks ul li {
  text-decoration: line-through;
  color: #808080b8;
}

.show-hide {
  background: transparent;
  border: 1px dashed grey;
  color: #7a6a2e;
  cursor: pointer;
}

.validate {
  color: coral;
  font-size: 12px;
  margin-left: 5px;
}

#put-back-icon {
  transform: scale(1.5);
  padding-right: 10px;
}

.add-delete-return-icons {
  min-width: 20%;
  text-align: right;
}

.author {
  font-size: 12px;
  color: #80808070;
  margin-left: 15px;
}
.author a {
  text-decoration: none;
  color: #80808070;
}
